{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS 학교 및 급식 정보 API",
    "description": "NEIS 교육정보 개방 포털에서 제공하는 학교기본정보 및 급식식단정보 API 명세입니다.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr",
      "description": "NEIS 교육정보 개방 포털"
    }
  ],
  "tags": [
    {
      "name": "학교정보",
      "description": "학교 기본 정보 조회"
    },
    {
      "name": "급식정보",
      "description": "학교 급식 식단 조회"
    }
  ],
  "paths": {
    "/hub/schoolInfo": {
      "get": {
        "tags": [
          "학교정보"
        ],
        "summary": "학교기본정보 조회",
        "description": "학교명, 학교 종류, 지역, 설립 구분 등의 조건으로 학교 기본 정보를 조회합니다.",
        "operationId": "getSchoolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": false,
            "description": "학교를 관리하는 시도교육청 기관코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": false,
            "description": "행정업무에 필요한 표준화된 학교 행정표준코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "required": false,
            "description": "학교명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교 종류명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교가 소속된 시도교육청이 위치한 시도명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교 설립주체에 따른 설립 구분명",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "학교 기본 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolInfoJsonResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolInfoXmlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/hub/mealServiceDietInfo": {
      "get": {
        "tags": [
          "급식정보"
        ],
        "summary": "급식식단정보 조회",
        "description": "학교와 급식일자 등의 조건으로 급식 식단 정보를 조회합니다.",
        "operationId": "getMealServiceDietInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Key"
          },
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": true,
            "description": "시도교육청 구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": true,
            "description": "학교 행정표준코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "required": false,
            "description": "식사 구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "required": false,
            "description": "급식일자(YYYYMMDD)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$",
              "example": "20260817"
            }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "required": false,
            "description": "급식 시작일자(YYYYMMDD)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$",
              "example": "20260801"
            }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "required": false,
            "description": "급식 종료일자(YYYYMMDD)",
            "schema": {
              "type": "string",
              "pattern": "^\\d{8}$",
              "example": "20260831"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "급식 식단 정보 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MealInfoJsonResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MealInfoXmlResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Key": {
        "name": "Key",
        "in": "query",
        "required": true,
        "description": "NEIS 교육정보 개방 포털 인증키",
        "schema": {
          "type": "string"
        }
      },
      "Type": {
        "name": "Type",
        "in": "query",
        "required": true,
        "description": "응답 문서 형식",
        "schema": {
          "type": "string",
          "enum": [
            "xml",
            "json"
          ],
          "default": "xml"
        }
      },
      "PIndex": {
        "name": "pIndex",
        "in": "query",
        "required": true,
        "description": "페이지 위치",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "default": 1
        }
      },
      "PSize": {
        "name": "pSize",
        "in": "query",
        "required": true,
        "description": "페이지당 요청 건수(최대 1,000건)",
        "schema": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 1000,
          "default": 100
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "필수 값 누락, 서비스 없음, 잘못된 페이지 값 또는 요청 건수 초과(ERROR-300, ERROR-310, ERROR-333, ERROR-336)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorJsonResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorXmlResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "유효하지 않거나 사용이 제한된 인증키(ERROR-290, INFO-300)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorJsonResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorXmlResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "일별 트래픽 제한 초과(ERROR-337)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorJsonResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorXmlResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "서버, 데이터베이스 연결 또는 SQL 오류(ERROR-500, ERROR-600, ERROR-601)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorJsonResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorXmlResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "Result": {
        "type": "object",
        "description": "NEIS API 처리 결과",
        "required": [
          "CODE",
          "MESSAGE"
        ],
        "properties": {
          "CODE": {
            "type": "string",
            "description": "처리 결과 코드",
            "example": "INFO-000"
          },
          "MESSAGE": {
            "type": "string",
            "description": "처리 결과 메시지",
            "example": "정상 처리되었습니다."
          }
        }
      },
      "HeadItem": {
        "oneOf": [
          {
            "type": "object",
            "required": [
              "list_total_count"
            ],
            "properties": {
              "list_total_count": {
                "type": "integer",
                "format": "int64",
                "description": "전체 조회 결과 수"
              }
            }
          },
          {
            "type": "object",
            "required": [
              "RESULT"
            ],
            "properties": {
              "RESULT": {
                "$ref": "#/components/schemas/Result"
              }
            }
          }
        ]
      },
      "JsonHead": {
        "type": "object",
        "required": [
          "head"
        ],
        "properties": {
          "head": {
            "type": "array",
            "description": "전체 건수와 처리 결과",
            "items": {
              "$ref": "#/components/schemas/HeadItem"
            }
          }
        }
      },
      "XmlHead": {
        "type": "object",
        "required": [
          "list_total_count",
          "RESULT"
        ],
        "properties": {
          "list_total_count": {
            "type": "integer",
            "format": "int64",
            "description": "전체 조회 결과 수"
          },
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        }
      },
      "School": {
        "type": "object",
        "description": "학교 기본 정보",
        "required": [
          "ATPT_OFCDC_SC_CODE",
          "ATPT_OFCDC_SC_NM",
          "SD_SCHUL_CODE",
          "SCHUL_NM",
          "ENG_SCHUL_NM",
          "SCHUL_KND_SC_NM",
          "LCTN_SC_NM",
          "JU_ORG_NM",
          "FOND_SC_NM",
          "ORG_RDNZC",
          "ORG_RDNMA",
          "ORG_RDNDA",
          "ORG_TELNO",
          "HMPG_ADRES",
          "COEDU_SC_NM",
          "ORG_FAXNO",
          "HS_SC_NM",
          "INDST_SPECL_CCCCL_EXST_YN",
          "HS_GNRL_BUSNS_SC_NM",
          "SPCLY_PURPS_HS_ORD_NM",
          "ENE_BFE_SEHF_SC_NM",
          "DGHT_SC_NM",
          "FOND_YMD",
          "FOAS_MEMRD",
          "LOAD_DTM"
        ],
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "ENG_SCHUL_NM": {
            "type": "string",
            "nullable": true,
            "description": "영문학교명"
          },
          "SCHUL_KND_SC_NM": {
            "type": "string",
            "description": "학교종류명"
          },
          "LCTN_SC_NM": {
            "type": "string",
            "description": "시도명"
          },
          "JU_ORG_NM": {
            "type": "string",
            "description": "관할조직명"
          },
          "FOND_SC_NM": {
            "type": "string",
            "description": "설립명"
          },
          "ORG_RDNZC": {
            "type": "string",
            "description": "도로명우편번호"
          },
          "ORG_RDNMA": {
            "type": "string",
            "description": "도로명주소"
          },
          "ORG_RDNDA": {
            "type": "string",
            "nullable": true,
            "description": "도로명상세주소"
          },
          "ORG_TELNO": {
            "type": "string",
            "nullable": true,
            "description": "대표 전화번호"
          },
          "HMPG_ADRES": {
            "type": "string",
            "nullable": true,
            "description": "홈페이지 주소"
          },
          "COEDU_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "남녀공학 구분명"
          },
          "ORG_FAXNO": {
            "type": "string",
            "nullable": true,
            "description": "대표 팩스번호"
          },
          "HS_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "고등학교 구분명"
          },
          "INDST_SPECL_CCCCL_EXST_YN": {
            "type": "string",
            "nullable": true,
            "description": "산업체 특별학급 존재 여부"
          },
          "HS_GNRL_BUSNS_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "고등학교 일반·전문 구분명"
          },
          "SPCLY_PURPS_HS_ORD_NM": {
            "type": "string",
            "nullable": true,
            "description": "특수목적고등학교 계열명"
          },
          "ENE_BFE_SEHF_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "입시 전기·후기 구분명"
          },
          "DGHT_SC_NM": {
            "type": "string",
            "nullable": true,
            "description": "주야 구분명"
          },
          "FOND_YMD": {
            "type": "string",
            "nullable": true,
            "description": "설립일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "FOAS_MEMRD": {
            "type": "string",
            "nullable": true,
            "description": "개교기념일(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "정보 수정 및 적재일시"
          }
        }
      },
      "Meal": {
        "type": "object",
        "description": "급식 식단 정보",
        "required": [
          "ATPT_OFCDC_SC_CODE",
          "ATPT_OFCDC_SC_NM",
          "SD_SCHUL_CODE",
          "SCHUL_NM",
          "MMEAL_SC_CODE",
          "MMEAL_SC_NM",
          "MLSV_YMD",
          "MLSV_FGR",
          "DDISH_NM",
          "ORPLC_INFO",
          "CAL_INFO",
          "NTR_INFO",
          "MLSV_FROM_YMD",
          "MLSV_TO_YMD",
          "LOAD_DTM"
        ],
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "MMEAL_SC_CODE": {
            "type": "string",
            "description": "식사 구분코드"
          },
          "MMEAL_SC_NM": {
            "type": "string",
            "description": "식사 구분명"
          },
          "MLSV_YMD": {
            "type": "string",
            "description": "급식일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "MLSV_FGR": {
            "type": "number",
            "format": "double",
            "description": "급식인원수"
          },
          "DDISH_NM": {
            "type": "string",
            "description": "요리명"
          },
          "ORPLC_INFO": {
            "type": "string",
            "nullable": true,
            "description": "원산지정보"
          },
          "CAL_INFO": {
            "type": "string",
            "nullable": true,
            "description": "칼로리정보"
          },
          "NTR_INFO": {
            "type": "string",
            "nullable": true,
            "description": "영양정보"
          },
          "MLSV_FROM_YMD": {
            "type": "string",
            "description": "급식 시작일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "MLSV_TO_YMD": {
            "type": "string",
            "description": "급식 종료일자(YYYYMMDD)",
            "pattern": "^\\d{8}$"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "적재일시"
          }
        }
      },
      "SchoolRows": {
        "type": "object",
        "required": [
          "row"
        ],
        "properties": {
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/School"
            }
          }
        }
      },
      "MealRows": {
        "type": "object",
        "required": [
          "row"
        ],
        "properties": {
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meal"
            }
          }
        }
      },
      "SchoolInfoJsonResponse": {
        "type": "object",
        "required": [
          "schoolInfo"
        ],
        "properties": {
          "schoolInfo": {
            "type": "array",
            "description": "조회 결과 머리말과 학교 정보",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonHead"
                },
                {
                  "$ref": "#/components/schemas/SchoolRows"
                }
              ]
            }
          }
        }
      },
      "MealInfoJsonResponse": {
        "type": "object",
        "required": [
          "mealServiceDietInfo"
        ],
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "description": "조회 결과 머리말과 급식 식단 정보",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/JsonHead"
                },
                {
                  "$ref": "#/components/schemas/MealRows"
                }
              ]
            }
          }
        }
      },
      "SchoolInfoXmlResponse": {
        "type": "object",
        "xml": {
          "name": "schoolInfo"
        },
        "required": [
          "head",
          "row"
        ],
        "properties": {
          "head": {
            "$ref": "#/components/schemas/XmlHead"
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/School"
            },
            "xml": {
              "wrapped": false
            }
          }
        }
      },
      "MealInfoXmlResponse": {
        "type": "object",
        "xml": {
          "name": "mealServiceDietInfo"
        },
        "required": [
          "head",
          "row"
        ],
        "properties": {
          "head": {
            "$ref": "#/components/schemas/XmlHead"
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Meal"
            },
            "xml": {
              "wrapped": false
            }
          }
        }
      },
      "ErrorJsonResponse": {
        "type": "object",
        "required": [
          "RESULT"
        ],
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        }
      },
      "ErrorXmlResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Result"
          }
        ],
        "xml": {
          "name": "RESULT"
        }
      }
    }
  }
}
